
<%- include('header') %>

    <h1>Perfect shop</h1>
    <p>Welcome to the perfect shop, look at our beautiful products</p>

    <br>

    <%- include('product_list', { products: products }) %>

<%- include('footer') %>
