@charset "UTF-8";

body {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}
